@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$fontStyle: 'Press Start 2P';

$btnBgColor: #ffffff;
$btnTxtColor: #666666;

$loadingTxtColor: #ffffff;

$cardTxtColor: #ffffff;
$cardBgColor: #626262;
$cardLiTitleColor: #151426;

body {
  margin: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #000;
    background-image: url('../img/stars-background.png');
    background-size: 900px 450px;
}
