@import "../../view/styles/styles.scss";

.card {
  margin: auto;
  display: block;
  font-family: "Press Start 2P";
  font-size: 0.9em;
  background: #626262;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px;

  &__header {
    text-align: center;
    border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    h1 {
      line-height: 1.6em;
      font-size: 1.2em;
    }
  }

  &__main {
    max-width: 320px;
    &--list {
      font-size: 0.8em;
      list-style: none;
      padding: 0px 15px;
      max-width: 320px;
      margin: 0;
      li {
        margin: 20px 0;
        line-height: 1.4em;
        text-align: center;
        border-bottom: 2px solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-style: dotted;
        padding-bottom: 20px;
        span {
          color: $cardLiTitleColor;
          display: block;
          margin-bottom: 10px;
          font-size: 1.1em;
        }
      }
    }
  }

  &__next {
    margin-bottom: 15px;
    &--btn {
      padding: 10px 30px;
      background: #ffffff;
      font-family: "Press Start 2P";
      font-size: 0.9em;
      display: block;
      margin: auto;
    }
  }
}
