@import "../../view/styles/styles.scss";

.start {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-flow: column;
  font-family: $fontStyle;
  font-size: 0.88em;
  color: $startTxtColor;
  &__play {
    background: $btnBgColor;
    border-radius: 10px;
    border-bottom: 6px solid #a38c00;
    padding: 20px 50px;
    margin: 30px auto;
    font-family: $fontStyle;
    color: $btnTxtColor;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    &:active {
      border: none;
      min-height: 25px;
    }
  }
  &__logo {
    width: 100%;
    align-self: center;
  }
  &__first {
    @media (min-width: 768px) {
      display: block;
    }
    display: none;
  }
  &__second {
    @media (min-width: 768px) {
      align-self: flex-end;
      display: block;

    }
    display: none;
  }
}
